

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  color: #252432 
}

.section-title  {
    padding:0;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: #252432;

}
.section-description {
    padding: 10px 0 20px 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #25243280;
}
.text-primary {
    font-weight: 800;
    color: #4E47FF;
}

.btn-primary {
  background-color: #4E47FF;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.banner-background {
    background-image: url(Hero-bg.png)
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 5px 30px;
    margin: 0 40px 0 40px;
}

.nav-title {
    font-size: 28px;
    font-weight: 800;
    color: #333;
}

.banner {
    text-align: center;
    margin: 80px 200px 80px 200px;
    padding: 0 0px 80px 0px;
   }
.banner-title {
    font-size: 48px;
    font-weight: 900;
    color: #333;
}
.action {
    display: flex;
    justify-content: space-between;
    margin: 100px 50px 10px 50px;
}
.action-text {
    padding: 5px 190px 0 0;
    margin: 50px 15px 130px 0;
}
.action-image {
    width: 380px;
    height: 270px;
    border-radius: 48px;
}
.users-title {
    font-size: 32px;
    font-weight: 700;
    color: #252432;
    padding: 14px 0 0 0;
    margin: 0 0 18px 0;
    text-align: center;
}
.number-title {
    font-size: 45px;
    font-weight: 700;
    color: #4E47FF;
    margin: 0;
    padding: 0;
}
.number-description {
    font-size: 12px;
    font-weight: 400;
    color: #25243280;
    padding: 0;
    margin: 0;
}
.user-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 70px 0 70px;
    padding: 10px 15px 10px 15px;
}
.users-details {
    background-color:#e0e2f6;
    border-radius: 20px;
    justify-content: space-between;
    height: 170px;
    width: 820px;
    margin: 50px 5px 60px 65px;
    padding: 10px 15px 10px 15px;
}
.users-title {
    font-size: larger;

}
.feedback-item {
    background-color: #f1f1f1;
    padding: 60px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.reviwer-name {
    font-size: 10px;
    font-weight: 300;
    color: #333;
    margin: 2px 0;
    padding: 1px;
}
.reviwer-date {
    font-size: 10px;
    color: #777;
    margin: 1px 0;
    padding: 2px;
}
.reviwer-details {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    padding: 2px;
}
.feedback-avatar {
    border-radius: 50%;
}
.reviwer-info {
    display: flex;
    align-items: center;
}
.feedback-title {
    font-size: 14px;
    font-weight: 800;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 5px;
}
.feedback-description {
    font-size: 12px;
    font-weight: 600;
    color: #4f4d4d;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1px;
}
.feedback-item {
    background-color: #fdfbfb;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 3px 4px 4px rgba(227, 225, 225, 0.5);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feedback-items {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
    gap: 36px;
}
.users-feedback {
    padding: 30px 10px;
    text-align: center;
    background-color: #fff;
    height: 235px;
    width: 900px;
    margin: 5px 55px 5px 30px;
}