

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: bold;
  color: #252432 
}

.section-title  {
    padding:0;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: #252432;

}
.section-description {
    padding: 10px 0 20px 0;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    color: #25243280;
}
.text-primary {
    font-weight: 800;
    color: #4E47FF;
}

.btn-primary {
  background-color: #4E47FF;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.banner-background {
    background-image: url(Hero-bg.png)
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 5px 30px;
    margin: 0 40px 0 40px;
}

.nav-title {
    font-size: 28px;
    font-weight: 800;
}

.banner {
    text-align: center;
    padding: 0 0px 80px 0px;
    height: 410;
    width: 100%; ;
   }
.banner-title {
    font-size: 51px;
    font-weight: 700;
    color: #252432;
    margin: 100px 80px 70px 80px; ;
}
.action {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9ff;
    margin: 100px 50px 10px 50px;
}
.action-text {
    padding: 5px 190px 0 0;
    margin: 50px 15px 130px 0;
}
.action-image {
    width: 380px;
    height: 270px;
    border-radius: 48px;
}
.users-title {
    font-size: 32px;
    font-weight: 700;
    color: #252432;
    padding: 14px 0 0 0;
    margin: 0 0 18px 0;
    text-align: center;
}
.number-title {
    font-size: 45px;
    font-weight: 700;
    color: #4E47FF;
    margin: 0;
    padding: 0;
}
.number-description {
    font-size: 12px;
    font-weight: 400;
    color: #25243280;
    padding: 0;
    margin: 0;
}
.user-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 70px 0 70px;
    padding: 10px 15px 10px 15px;
}
.users-details {
    background-color:#e0e2f6;
    border-radius: 20px;
    justify-content: space-between;
    height: 170px;
    width: 820px;
    margin: 50px 5px 60px 65px;
    padding: 10px 15px 10px 15px;
}
.users-title {
    font-size: larger;

}
.feedback-item {
    background-color: #f1f1f1;
    padding: 50px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.reviewer-name {
    font-size: 11px;
    font-weight: 600;
    color: #232323;
    margin: 0;
    padding: 0;
}
.reviewer-date {
    font-size: 11px;
    color: #777;
    margin: 1px;
    padding: 0;
}
.reviewer-details {
    font-size: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin: 1px;
    padding: 1px;
}
.feedback-avatar {
    border-radius: 50%;
    margin: 2px;
    padding: 1px;
}
.reviewer-info {
    display: flex;
    flex-direction: row;
    margin: 2px;
    padding: 1px;
}
.feedback-title {
    font-size: 14px;
    font-weight: 800;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 5px;
}
.feedback-description {
    font-size: 12px;
    font-weight: 600;
    color: #4f4d4d;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1px;
}
.feedback-item {
    background-color: #fdfbfb;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 3px 4px 4px rgba(227, 225, 225, 0.5);
    text-align: left;
    display: flex;
    flex-direction: column;
}
.feedback-items {
    display: flex;
    justify-content: center;
    margin: 20px 25px;
    gap: 38px;
}
.users-feedback {
    padding: 30px 10px;
    text-align: center;
    background-color: #f8f9ff;
    height: 235px;
    width: 900px;
    margin: 5px 55px 35px 30px;
}
.contact-title {
    font-size: 61px;
    font-weight: 710;
    color: black;
    background-color: #f8f9ff;
    height: 140px;
    width: 350px;
    text-align: left;
    margin: 48px 1px 52px 8px;
    padding: 30px 1px 24px 6px;
}
.contact-content {
    text-align: center;
    padding: 0;
    background-color: #f8f9ff;
}
.contact-section {
    display: flex;
    justify-content:space-between;
    background-color: #f8f9ff;
    border-radius: 12px;
    overflow: hidden;
    height: 348px;
    width: 810px;
    margin: 130px 85px 100px 70px;
    padding: 18px 6px 6px 12px;
}
.form-group {
    display: flex;
    font-size: 11px;
    font-weight: 700;
    color: black;
    flex-direction: column;
    text-align: left;
    height: 200px;
    width: 250px;
    margin: 0;
    padding: 1px;
}
.contact-form {
    display: flex;
    background-color: #f8f9ff;
    flex-direction: column;
    height: 350px;
    width: 268px;
    margin: 3px 25ps 3px 0px;
    padding: 2px 0 2px 0;
    border-radius: 8px;

}
.contact-form-container {
    background-color:#f8f9ff ;
    padding: 0;
    margin: 0;
}
.form-group input {
    border-radius: 8px;
    margin-bottom: 1px;
    height: 30px ;
    width: 238.5px;
    padding: 6px 2px 6px 5px;
    border-color: #f1f0f0;
    border-style: solid;
}
.form-group textarea {
    height: 60px;
    width: 244px;
    outline: none;
    resize: none;
    border-radius: 8px;
    border-color: #f1f0f0;
    border-style: solid;
}
.form-group ::placeholder {
    color: #918e8e;
    padding: 12px 5px 2px 13px;
}
.footer-title {
    font-size: 70px;
    font-weight: 820;
    color: #4E47FF;
    text-align: center;
    margin: 0;
    padding: 5px 0 0 0;
}
.footer-description {
    font-size: 13px;
    font-weight: 400;
    color: #25243280;
    text-align: center;
    margin: 0 285px 15px 285px;
    padding: 1px 0 2px 0;
}
.footer-link {
    font-size: 13px;
    font-weight: 620;
    color: #25243280;
    text-decoration: none;
    margin: 14px 20px 14px 20px;
    padding: 1px 2px 1px 2px;
}
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9ff;
    height: 250px;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}